<!DOCTYPE html>
<html lang="en">
<head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<div class="container">
    <h1> search student's information</h1>
    <form method="post" action="/search/">
        {% csrf_token %}
        <div class="form-group">
            <div classs="col-lg-5">
                <input type="text" name="srh" class="form-control" placeholder="Enter name or city">
            </div>
            <label class="col-lg-2">
                <button type="button" class="btn btn-danger">search</button>
            </label>
        </div>
    </form><br> <br>

</div>

<div>
{% if messages %}
    <ul class="messages">
        {% for k in messages %}
        <li style="color:red">{{ k }}</li>
        {% endfor %}

    </ul>
    {% endif %}
</div><br>
<div style="color:blue">

    {% if sr %}
    {% for k in sr %}
    <table border="0px" width="300px">
        <tr>
            <td>name</td>
            <td>{{ k.name }}</td>
        </tr>
        <tr>
            <td> email id</td>
            <td>{{ k.email_id }}</td>
        </tr>
        <tr>
            <td>city</td>
            <td>{{ k.city }}</td>

        </tr>
        <tr>
            <td>marks</td>
            <td>{{ k.marks }}</td>
        </tr>
    </table>

    {% endfor %}
    {% endif %}
</div>

</body>
</html>